@keyframes svg{
    0%{
        fill:transparent;
        stroke-dashoffset:2000;
    }
    50%{
        fill:transparent;
        stroke-dashoffset:0;
    }
    100%{
        fill:#fff;

    }

}
@keyframes fade{
    0%{
        opacity: 1;
        z-index:0;
    }
    100%{
        opacity:0;
        z-index:-10;
    }
}

@media screen and (min-width : 951px ){

    .loading{
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: hsla(0,0%,10%,1.00);
        z-index: 0;
        animation: fade 0.5s 1.5s ease forwards;
        }

    #oblogo{
        position: fixed;
        width: 25vw;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

        #oblogo path{
            fill:none;
            stroke:#fff;
            stroke-dasharray:2000;
            stroke-dashoffset:0;
            stroke-width:1;
            animation: svg 1.5s linear forwards;

        }

    li{
        font-size: 30px;
        list-style: none;
        float: right;
        padding-right: 30px;
        line-height: normal;
    }
    .header{
        position: fixed;
        background-color: #333;
        height: 75px;
        width: 100vw;
        line-height: 75px;
        color: #EDF7F5;
        z-index: 0;
        top: 0%;
    }

    a:link, a:visited, a:hover, a:active{
        text-decoration: none;
        color: #fff;
        }



    body{
        font-family: futura-pt, sans-serif;
        background-color: #FFFFFF;
        margin: 0px 0px ;
    }
    .top{
        height: 100vh;
        /*-webkit-transform:translate3d(0,0,0);*/
    }

    .top img{
            opacity: 0;
            z-index: -10;
        }

    .logo{
        font-size:45px;
        float: left;
        padding-left: 50px;
    }
    .name{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 10vw;
        line-height: 10%;
        text-align: right;
        z-index: -2;
    }
    video{
        position: absolute;
        width: 100vw;
        z-index: -5;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0.75;
    }
    .scroll{
        font-size: 2vw;
        letter-spacing: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 84vh;
        text-align: center;
        line-height: 2.5vw;
        z-index: -2;
        }
    h1{
        font-size: 80px;
        padding-left: 4vw;

    }
    .top h1{
        letter-spacing: 10px;
        z-index: -4;
    }



    h2{
        font-size: 50px;
        letter-spacing: 5px;
        top: 10%;

    }
    .main{
        margin:auto 5%;
        z-index: -4;
    }
    .works{
        position: relative;
        padding-top:10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .works img{
        position: relative;
        width: 20vw;
        border-radius: 10px;
        z-index: -4;

    }

    /*-----------WORKS-------------------*/


    .border{
        position: fixed;
        padding: 100vh 0px;
        left: 33vw;
        z-index: -1;
        border: solid 5px #000;
        transition: left 1s cubic-bezier(.8, 0, .2, 1);
        }
    .works_bg{
        position: fixed;
        left: 33vw;
        padding: 100vh 100vw;
        background-color: #fff;
        z-index: -8;
        }
    .caption{
        position: fixed;
        bottom: 10vh;
        left: 5vw;
        transition: bottom 1s cubic-bezier(.8, 0, .2, 1);
        }

    .works_list{
        position: relative;
        padding-top:10vh;
        left: 0vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        transition: left 1s cubic-bezier(.8, 0, .2, 1);
    }
    .works_list img{
        position: relative;
        width: 20vw;
        border-radius: 10px;
        z-index: -4;

    }

    .works_list figcaption{
        position: absolute;
        margin-top: -20.25vw;
        border-radius: 10px;
        height: 20vw;
        width: 20vw;
        background-color: rgba(0,0,0,0.35);
        z-index: -4;
    }
    .img_details{
        position: fixed;
        left: 0;
        top: 1px;
        height: 100vh;
        width: 100vw;
        z-index: -2;

    }
    .img_details img{
        position: fixed;
        width: 66vw;
        pointer-events: none;
    }
    .works_list h3{
        position: absolute;
        color: #fff;
        left: 10px;
        bottom: 0px;
    }
    .img_details h3{
        word-wrap: normal;
        font-size: 20pt;
        position: fixed;
        left: 68vw;
        top: 10vh;
        padding-right: 2.5vw;
    }
	
	div[class$="_details"] h3{
		opacity: 0;
		clip-path: inset(0 100% 0 0);
		transition: opacity .01s linear .5s, clip-path 1s cubic-bezier(.8, 0, .2, 1); 
	}
    div[class$="_details"] img {
        clip-path: inset(0 100% 0 0);
		-webkit-clip-path: inset(0 100% 0 0);
		left: 33vw;
		transition: left 1s cubic-bezier(.8, 0, .2, 1), clip-path 1s cubic-bezier(.8, 0, .2, 1);
    }
	
    label[class^="toggle_back"] > h3{
        font-size: 20pt;
        font-style: italic;
        position: fixed;
        right: -15vw;
        bottom: 0;
        transition: right .5s cubic-bezier(.8, 0, .2, 1) .5s;
    }
    /*--------------WORKS ANIMATION---------------*/
    /*----------------WORKS MIR-------------------*/
    #toggle_mir:checked ~ .img_details > .mir_details img{
        left: 0vw;
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_mir:checked ~ .img_details > .mir_details h3{
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_mir:checked ~ .works_list > .border{
        left: 66vw;
    }
    #toggle_mir:checked ~ .works_list{
        left: -33vw;
        z-index: -9999;
    }
    #toggle_mir:checked ~ .caption{
        bottom: -20vh;
    }
    #toggle_mir:checked ~ .toggle_back_mir h3{
        right: 5vw;
    }

    /*----------------WORKS RAINY-----------------*/
    #toggle_rainy:checked ~ .img_details > .rainy_details img{
        left: 0vw;
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_rainy:checked ~ .img_details > .rainy_details h3{
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_rainy:checked ~ .works_list > .border{
        left: 66vw;
    }
    #toggle_rainy:checked ~ .works_list{
        left: -33vw;
        z-index: -9999;
    }
    #toggle_rainy:checked ~ .caption{
        bottom: -20vh;
    }
    #toggle_rainy:checked ~ .toggle_back_rainy h3{
        right: 5vw;
    }
	/*---------------WORKS INDRK-----------------*/
	#toggle_indrk:checked ~ .img_details > .indrk_details img{
        left: 0vw;
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_indrk:checked ~ .img_details > .indrk_details h3{
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_indrk:checked ~ .works_list > .border{
        left: 66vw;
    }
    #toggle_indrk:checked ~ .works_list{
        left: -33vw;
        z-index: -9999;
    }
    #toggle_indrk:checked ~ .caption{
        bottom: -20vh;
    }
    #toggle_indrk:checked ~ .toggle_back_indrk h3{
        right: 5vw;
    }
	/*--------------WORKS LT---------------------*/
	#toggle_lt:checked ~ .img_details > .lt_details img{
        left: 0vw;
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_lt:checked ~ .img_details > .lt_details h3{
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_lt:checked ~ .works_list > .border{
        left: 66vw;
    }
    #toggle_lt:checked ~ .works_list{
        left: -33vw;
        z-index: -9999;
    }
    #toggle_lt:checked ~ .caption{
        bottom: -20vh;
    }
    #toggle_lt:checked ~ .toggle_back_lt h3{
        right: 5vw;
    }
	/*--------------WORKS AFTERSCHOOL------------*/
	#toggle_after:checked ~ .img_details > .after_details img{
        left: 0vw;
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_after:checked ~ .img_details > .after_details h3{
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_after:checked ~ .works_list > .border{
        left: 66vw;
    }
    #toggle_after:checked ~ .works_list{
        left: -33vw;
        z-index: -9999;
    }
    #toggle_after:checked ~ .caption{
        bottom: -20vh;
    }
    #toggle_after:checked ~ .toggle_back_after h3{
        right: 5vw;
    }
	/*--------------WORKS iPX--------------------*/
	#toggle_ipx:checked ~ .img_details > .ipx_details img{
        left: 0vw;
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_ipx:checked ~ .img_details > .ipx_details h3{
		clip-path: inset(0 0 0 0);
		-webkit-clip-path: inset(0 0 0 0);
        opacity: 1;
    }
    #toggle_ipx:checked ~ .works_list > .border{
        left: 66vw;
    }
    #toggle_ipx:checked ~ .works_list{
        left: -33vw;
        z-index: -9999;
    }
    #toggle_ipx:checked ~ .caption{
        bottom: -20vh;
    }
    #toggle_ipx:checked ~ .toggle_back_ipx h3{
        right: 5vw;
    }
    /*-------------------------------------------*/

    .social img{
        width: 2vw;
        margin-left: 50px;
    }
    .intro{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }
    .footer{
        height: 15vh;
        position: relative;
    }
    .logo-footer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

}
