@charset "UTF-8";

@keyframes hamburger {
    100%{
        top: 24px;
    }
}

@keyframes short1 {
    100%{
        width: 2px;
        left: 24px;
    }
}

@keyframes rotate0{
    
    100%{
        top: 24px;
        transform: rotate(45deg);
    }
}
@keyframes rotate2{
    100%{
        top: 24px;
        transform: rotate(-45deg);
    }
}


@media (max-width : 599px ){
    
    
    li{
    color: #333;
    font-size: 30px;
    list-style: none;
    padding-right: 30px;
    line-height: normal;
}
    .header-link{
        background-color: #F2F2F2;
        box-sizing: border-box;
        height: 100%;
        position: fixed;
        right: -200px;
        top: 0;
        width: 200px;
    }
    
    .burger{
        height: 50px;
        width: 50px;
        top: 12px;
        right: 15px;
        position: fixed;
        z-index: 5;
        
    }
    .pan {
        background-color: #FFFFFF;
        width: 24px;
        height: 2px;
        position: absolute;
        left: 13px;
    }
    
    .pn0{
        top:17px;
    }
    
    .pn1{
        top:24px;
    }
    
    .pn2{
        top:31px;
    }
    
    .burger:hover .pn1{
        animation: short1 0.5s  ease forwards ;
    }
    .burger:hover .pn0{
        animation: rotate0 0.5s  ease forwards;
    }
    .burger:hover .pn2{
        animation: rotate2 0.5s  ease forwards;
    }
    
    .header{
        position: fixed;
        background-color: #333;
        height: 75px;
        width: 100vw;
        line-height: 75px;
        color: #EDF7F5;
        z-index: 10;
        top: 0;
}


body{
    font-family: futura-pt, sans-serif;
    background-color: #E2E2E2;
    margin: 0px 0px ;
}
.top{
    position:relative;
    overflow: hidden;
    height: 100vh;
    
}
.top:before{
    top: -50%;
    left: -50%;
    transform: rotate(-3deg);
    transform-origin: left center;
    z-index: -1;
}
.top:after{
    bottom: -75%;
    right: -50%;
    transform: rotate(-3deg);
    transform-origin: left center;
    z-index: -1;
}
.top:before , .top:after{
    animation: open 1.5s forwards;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    content: "";
    display: block;
    position: absolute;
    width: 200%;
    height: 80%;
    background-color: #fff;
    overflow-x: hidden;
    z-index: -1;
    
}
.logo{
    font-size:45px;
    float: left;
    padding-left: 30px;
}
.name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    line-height: 70%;
    z-index: -2;
}
h1{
    font-size: 50px;
    padding-left: 4vw;
    
}
.top h1{
    z-index: -2;
}

h2{
    font-size: 50px;
    letter-spacing: 5px;
    top: 10%;
    
}
.main{
    margin:auto 5%;
}

.works{
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.recently img{  
    width: 250px;
}

.about img{

}
.social img{
    width: 40px;
    margin-left: 50px;
}
.intro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.footer{
    height: 20vh;
    position: relative;
}
.logo-footer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    

}